<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css"> 
<footer class="footer" id="bagian-kontak">
    <div class="footer-container">
        <div class="footer-left">
            <h3>TENTANG KAMI</h3>
            <p>Kami berkomitmen untuk melayani masyarakat Jakarta dengan <br> transportasi massal yang handal dan efisien.</p>
            <ul class="social-icons">
                <li><a href="#"><img src="https://cdn2.downdetector.com/static/uploads/c/300/f0d8e/FB-f-Logo__blue_512.png" alt="Facebook"></a></li>
                <li><a href="#"><img src="https://img.freepik.com/free-vector/twitter-new-2023-x-logo-white-background-vector_1017-45422.jpg?size=338&ext=jpg&ga=GA1.1.1395880969.1709337600&semt=sph" alt="Twitter"></a></li>
                <li><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png" alt="Instagram"></a></li>
            </ul>
        </div>
        <div class="footer-center">
            <h3>HUBUNGI KAMI</h3>
            <div>
                <i class="fa fa-map-marker"></i>
                <p>Jl. Letjen S. Parman No.1, RT.6/RW.16, Tomang, Kec. Grogol petamburan, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11440</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+1234567890</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p>Transjakart@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 Transjakarta. All Rights Reserved.
    </div>
</footer>