<!-- Jenis Bus section-->

<section id="projects">
    <h1 class="section-title">Jenis Bus</h1>
    <div class="projects container" id ="jenis-bus-page">
        <div class="all-projects">
            <!-- Project 1 -->
            <div class="project-item card">
                <div class="project-info">
                    <div class="card-image">
                        <img src="https://cdn4.uzone.id/assets/uploads/Uzone/Automotive/TransJakarta/IG_Zong_Thong.jpg" alt="img">
                    </div>
                    <div class="text-content">
                        <h2>Bus Gandeng Zhongtong</h2>
                        <p>Bus Gandeng Zhongtong adalah kendaraan transportasi yang diproduksi oleh perusahaan Zhongtong Bus Holding Co., Ltd. 
                            Bus ini memiliki ukuran yang besar dan mampu menampung banyak penumpang, dengan kapasitas yang bervariasi tergantung pada modelnya. 
                            Dilengkapi dengan mesin yang kuat dan efisien dalam konsumsi bahan bakar, bus ini dapat menggunakan mesin diesel atau alternatif lainnya seperti mesin listrik atau hibrida. Desain interiornya dirancang untuk kenyamanan penumpang, dengan berbagai fitur dan fasilitas yang tersedia sesuai kebutuhan perjalanan.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Project 2 -->
            <div class="project-item card">
                <div class="project-info">
                    <div class="card-image">
                        <img src="https://cdn.medcom.id/dynamic/content/2015/07/15/147805/n9y17HuUEc.jpg?w=700" alt="img">
                    </div>
                    <div class="text-content">
                        <h2>Bus Gandeng Scania</h2>
                        <p>Bus Gandeng Scania adalah jenis bus yang terdiri dari dua bagian yang dihubungkan secara fleksibel dan ditarik oleh truk traktor Scania. Bus ini dirancang untuk memberikan kapasitas penumpang yang besar serta efisiensi dalam penggunaan bahan bakar. Dilengkapi dengan mesin diesel bertenaga tinggi, transmisi otomatis, 
                            dan sistem suspensi yang nyaman, Bus Gandeng Scania mampu menangani perjalanan jarak jauh dengan stabil dan aman. 
                            Dengan desain yang ergonomis dan fitur-fitur keselamatan canggih, seperti rem anti terkunci (ABS) dan sistem kontrol traksi (TCS), bus ini menawarkan kenyamanan dan keamanan bagi penumpang serta pengemudi.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Project 3 -->
            <div class="project-item card">
                <div class="project-info">
                    <div class="card-image">
                        <img src="https://1.bp.blogspot.com/-Jz1Xduwtde0/Xr6gznlagAI/AAAAAAAAAPo/xl0IRPF0vcQ1jvPDOA7bgbmSXF8OU1NogCPcBGAYYCw/s1600/25986895798_e21c7d45d8_o.jpg" alt="img">
                    </div>
                    <div class="text-content">
                        <h2>Bus Gandeng Yutong</h2>
                        <p>
                            Bus Gandeng Yutong adalah jenis bus yang terdiri dari dua bagian yang dihubungkan secara fleksibel dan ditarik oleh truk traktor. 
                            Dirancang oleh produsen terkemuka Yutong, bus ini menawarkan kapasitas penumpang besar dan efisiensi bahan bakar yang tinggi. 
                            Dengan menggunakan teknologi terkini, seperti mesin diesel yang kuat dan ramah lingkungan, serta sistem transmisi otomatis, Bus Gandeng Yutong menawarkan kinerja yang handal dan ramah lingkungan. 
                            Fitur-fitur keselamatan seperti rem ABS dan sistem kontrol traksi juga diimplementasikan untuk memastikan keamanan selama perjalanan.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Project 4 -->
            <div class="project-item card">
                <div class="project-info">
                    <div class="card-image">
                        <img src="https://live.staticflickr.com/4194/34429013265_fd88f46701_b.jpg" alt="img">
                    </div>
                    <div class="text-content">
                        <h2>Bus Hino</h2>
                        <p>
                            Bus Hino adalah kendaraan transportasi penumpang yang diproduksi oleh Hino Motors, 
                            salah satu produsen kendaraan komersial terkemuka di dunia. Bus ini tersedia dalam berbagai model dan konfigurasi untuk memenuhi berbagai kebutuhan transportasi. 
                            Dengan mesin diesel yang efisien dan handal, serta sistem transmisi yang canggih, Bus Hino menawarkan kinerja yang stabil dan hemat bahan bakar. 
                            Selain itu, dilengkapi dengan beragam fitur kenyamanan dan keselamatan, seperti sistem suspensi yang nyaman, AC, dan sistem pengereman ABS, Bus Hino memberikan pengalaman perjalanan yang aman dan menyenangkan bagi penumpangnya.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Project 5 -->
            <div class="project-item card">
                <div class="project-info">
                    <div class="card-image">
                        <img src="https://live.staticflickr.com/1766/42375213795_80d00032d5_b.jpg" alt="img">
                    </div>
                    <div class="text-content">
                        <h2>Bus Mercedez-Benz</h2>
                        <p>Bus Mercedes-Benz Transjakarta adalah bus yang digunakan dalam sistem transportasi Transjakarta di Jakarta, Indonesia. 
                            Dibuat oleh Mercedes-Benz, bus ini memiliki desain yang ergonomis dan nyaman untuk penumpang, serta dilengkapi dengan fitur-fitur keselamatan seperti rem ABS dan sistem kontrol traksi. 
                            Ditenagai oleh mesin diesel yang efisien, Bus Mercedes-Benz Transjakarta menawarkan kinerja yang handal dan ramah lingkungan. 
                            Dengan kapasitas penumpang yang besar dan interior yang luas, bus ini menjadi pilihan transportasi publik yang populer di Jakarta.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Project 6 -->
            <div class="project-item card">
                <div class="project-info">
                    <div class="card-image">
                        <img src="https://live.staticflickr.com/4896/32753182268_fbfa38c6b8_b.jpg" alt="img">
                    </div>
                    <div class="text-content">
                        <h2>Bus Tingkat Bus Coach International (BCI)</h2>
                        <p>Bus Tingkat Bus Coach International (BCI) Transjakarta adalah kendaraan bus yang digunakan dalam sistem transportasi Transjakarta di Jakarta, Indonesia. 
                            Diproduksi oleh Coach International (BCI), bus ini memiliki desain tingkat dengan lantai atas dan bawah yang memungkinkan kapasitas penumpang yang lebih besar dibandingkan dengan bus konvensional. 
                            Dilengkapi dengan mesin diesel yang efisien dan teknologi transmisi canggih, Bus Tingkat BCI Transjakarta menawarkan kinerja yang handal dan ramah lingkungan. 
                            Selain itu, bus ini dilengkapi dengan beragam fitur kenyamanan seperti AC, tempat duduk yang ergonomis, dan sistem pengereman ABS untuk meningkatkan keselamatan selama perjalanan.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Project 7 -->
            <div class="project-item card">
                <div class="project-info">
                    <div class="card-image">
                        <img src="https://suaranusantara.com/wp-content/uploads/2017/03/Bus-wisata-gratis-2.jpg" alt="img">
                    </div>
                    <div class="text-content">
                        <h2>Bus Tingkat MAN</h2>
                        <p>
                            Bus Tingkat MAN Transjakarta adalah jenis bus yang digunakan dalam sistem transportasi Transjakarta di Jakarta, Indonesia, yang diproduksi oleh MAN Truck & Bus AG, sebuah perusahaan Jerman. 
                            Bus ini memiliki desain tingkat dengan lantai atas dan bawah yang memungkinkan kapasitas penumpang yang lebih besar daripada bus konvensional. 
                            Ditenagai oleh mesin diesel yang efisien dan ramah lingkungan, serta dilengkapi dengan teknologi transmisi canggih, Bus Tingkat MAN Transjakarta menawarkan kinerja yang handal dan hemat bahan bakar. 
                            Fitur-fitur kenyamanan seperti AC, tempat duduk ergonomis, dan sistem pengereman ABS juga tersedia untuk meningkatkan pengalaman penumpang dan keselamatan perjalanan.
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- Project 8 -->
            <div class="project-item card">
                <div class="project-info">
                    <div class="card-image">
                        <img src="https://asset.kompas.com/data/photo/2015/06/26/101030020150626-100801780x390.jpg" alt="img">
                    </div>
                    <div class="text-content">
                        <h2>Bus Tingkat Mercedez-Benz</h2>
                        <p>Bus Tingkat Mercedes-Benz Transjakarta adalah jenis bus yang digunakan dalam sistem transportasi Transjakarta di Jakarta, Indonesia, yang diproduksi oleh Mercedes-Benz, produsen otomotif ternama. 
                            Bus ini memiliki desain tingkat dengan lantai atas dan bawah yang memungkinkan kapasitas penumpang yang lebih besar daripada bus konvensional. 
                            Dengan mesin diesel yang efisien dan ramah lingkungan, serta sistem transmisi yang canggih, Bus Tingkat Mercedes-Benz Transjakarta menawarkan kinerja yang handal dan hemat bahan bakar. 
                            Dilengkapi dengan berbagai fitur kenyamanan seperti AC, tempat duduk ergonomis, dan sistem pengereman ABS, bus ini menyediakan pengalaman perjalanan yang nyaman dan aman bagi penumpangnya.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Jenis Bus section-->