/* Penambahan rute */
form {
  display: flex;
  margin-top: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#routes-list {
  margin-top: 20px;
}

.route-item {
  padding: 10px;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.route-item span {
  flex: 1;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.edit-btn {
  background-color: #ffc107;
  color: #333;
  margin-right: 5px;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

#save-route {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#save-route:hover {
  background-color: #218838;
}

#save-route:active {
  background-color: #1e7e34;
}

@media (min-width: 768px) {
  .button-50 {
      padding: 12px 50px;
  }
}
